

{% for data in data %}
<p1> {{data.name}}     {{data.city}}      {{data.age}}</p1>
<br>

{% endfor  %}

<br><br><br><br><br><br>

{% for data in content %}
<p1> {{data}}</p1>
<br>

{% endfor  %}



