<title>View page</title>


<p1>Hello from view template </p1>

<form method="post" action="{%  url 'post' %}">
    {% csrf_token %}
<input type = text placeholder="name" name="name">
<input type = text placeholder="city" name="city">
    <input type = text placeholder="age" name="age">
    <br><br><br><br>
    <input type = text placeholder="job location" name="job_location">
    <input type = text placeholder="job" name="job">

    <input type="submit" value="submit">
    </form>



