<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav" height="">
      <li class="active"><a href="#">Quiz</a></li>
       <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class=""></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="#">topic</a></li>
          <li><a routerLink="#">topic</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class=""></span></a>
         </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class=""></span></a>

      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class=""></span></a>

      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class=""></span></a>

      </li>

    </ul>

</nav>



        <!-- Top content -->
        <div class="top-content">

            <div class="inner-bg">
                <div class="container">

                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-5">

                        	<div class="form-box">
	                        	<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3 >Login to our site</h3>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-key"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">
				                    <form role="form" action="" method="post" class="login-form"  #login_form="ngForm" (ngSubmit)="onSubmit(login_form.value)" name="login_form">

				                    	<div class="form-group">
				                    		<label class="sr-only" for="form-username">UserEmail</label>
				                        	<input type="text" name="email" placeholder="Email..." class="form-username form-control" id="form-username" required  [(ngModel)]="user_email" #email="ngModel" autocomplete="off">

				                        <div [hidden]="email.valid ||email.pristine " class="alert alert-danger">
                                     <p>Enter email</p>
                              </div>

                              </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-password">Password</label>
				                        	<input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password" required [(ngModel)]="password" #user_password="ngModel">
                                     <div [hidden]="user_password.valid || user_password.pristine" class="alert alert-danger">
                                     <p>Enter Password</p>
                                     </div>
				                         </div>

				                        <button type="submit" class="btn">Sign in!</button>

				                    </form>

                              </div>
		                    </div>


                        </div>

                        <div class="col-sm-1 middle-border"></div>
                        <div class="col-sm-1"></div>

                        <div class="col-sm-5">

                        	<div class="form-box">
                        		<div class="form-top">
	                        		<div class="form-top-left">
	                        			<h3>Sign up now</h3>
	                        		</div>
	                        		<div class="form-top-right">
	                        			<i class="fa fa-pencil"></i>
	                        		</div>
	                            </div>
	                            <div class="form-bottom">

				                    <form role="form" action="" method="post" class="registration-form" #register_form="ngForm" (ngSubmit)="registerUser(register_form.value)" name="register_form">
				                    	<div class="form-group">
				                    		<label class="sr-only" for="first_name">First name</label>
				                        	<input type="text" name="first_name" placeholder="First name..." class="form-first-name form-control" id="first_name" required  ngModel #f_name="ngModel" >
				                      <div [hidden]="f_name.valid || f_name.pristine" class="alert alert-danger">
                                <p>Enter First Name</p>
                              </div>

                              </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="last_name">Last name</label>
				                        	<input type="text" name="last_name" placeholder="Last name..." class="form-last-name form-control" id="last_name" required ngModel #l_name="ngModel">
				                       <div [hidden]="l_name.valid ||l_name.pristine" class="alert alert-danger">
                                 <p>Enter Last Name</p>
                               </div>
				                         </div>
				                        <div class="form-group">
				                        	<label class="sr-only" for="form-email">Email</label>
				                        	<input type="email" name="email" placeholder="Email..." class="form-email form-control" id="form-email" required ngModel #new_email="ngModel">
				                        <div [hidden]="new_email.valid || new_email.pristine " class="alert alert-danger">
                                     <p>Enter email</p>

                              </div>
                                </div>
				                        <div class="form-group">
                                  <label class="sr-only" for="form-password">Password</label>
				                        	<input type="password" name="password" placeholder="Password..." class="form-password form-control" id="password" required ngModel #new_password="ngModel">
                                <div [hidden]="new_password.valid || new_password.pristine" class="alert alert-danger">
                                  <p>Choose Password</p>
                                </div>
                                </div>
                              <div class="form-group">
                                  <label class="sr-only" for="mobile_number">contact_number</label>
				                        	<input type="text" name="mobile_number" placeholder="Contact number..." class="form-contact form-control" id="mobile_number" required ngModel #new_contact_number="ngModel" >
                                <div [hidden]="new_contact_number.valid||new_contact_number.pristine" class="alert alert-danger">
                                  <p>Enter Your Contact Number</p>
                                </div>
                                </div>

				                        <button type="submit" class="btn">Sign me up!</button>
				                    </form>
			                    </div>
                        	</div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!-- Javascript -->
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
        <script src="assets/js/scripts.js"></script>

        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->
