<div style="padding:5% 20%;">

<form action="" method="post" #addtopic_form="ngForm" (ngSubmit)="getquestions(addtopic_form.value)" name="addtopic_form" >
  <p>Language</p>

  <select name="language" class="form-control" id="language"  required [(ngModel)]="language" >
       <option *ngFor="let language of languages" [value]="language">{{language}}</option>
   </select>
    <input type="submit" value="get questions" id="submit" class="btn btn-primary btn-large" style="margin-top:10px;">

  <br><br>
  <table id="question_edit" style="width:100%" class="table table-striped" >
  <tr>
    <th>Question</th>
    <th>Choice1</th>
    <th>Choice2</th>
    <th>Choice3</th>
    <th>Choice4</th>
    <th>Answer</th>
  </tr>

  <tr *ngFor ="let question of questions" >
    <td  style="max-width:200px;word-wrap:break-word" id="q" contenteditable='true' (blur)="update(question)">{{question.question}}</td>
    <td style="max-width:200px;word-wrap:break-word" contenteditable='true' id="c1" (blur)="update(question)" >{{question.choice1}}</td>
    <td style="max-width:200px;word-wrap:break-word" contenteditable='true' id="c2" (blur)="update(question)">{{question.choice2}}</td>
    <td style="max-width:200px;word-wrap:break-word" contenteditable='true' id="c3" (blur)="update(question)">{{question.choice3}}</td>
    <td style="max-width:200px;word-wrap:break-word" contenteditable='true' id="c4" (blur)="update(question)" >{{question.choice4}}</td>
    <td style="max-width:200px;word-wrap:break-word" contenteditable='true' id="ans" (blur)="update(question)">{{question.answer}}</td>
    <input type="submit" value="Delete" id="delete" class="btn btn-primary btn-large" style="margin-left:10px;" (click)="deletequestion(question)">

  </tr>
</table>


</form>
  <br><br><br>

<!--<form action="" method="post" #question_form="ngForm" (ngSubmit)="questionedits(question_form.value) " name="question_form">
  <textarea rows="2" cols="100" name="question" id="question"  class="form-control" [(ngModel)]="question" required *ngFor="let questions of question" >{{questions}}</textarea>
  <br>
  <!-- <p><input type="text" name="choice1"  id= "choice1" placeholder="A" required="" class="form-control"  required [(ngModel)]="choice1"></p>
    <p><input type="text" name="choice2"  id= "choice2" placeholder="B" required="" class="form-control"  required [(ngModel)]="choice2"></p>
    <p><input type="text"   name="choice3" id= "choice3" placeholder="C" required="" class="form-control" required [(ngModel)]="choice3"></p>
    <p><input type="text" name="choice4"  id= "choice4" placeholder="D" required="" class="form-control" required [(ngModel)]="choice4"></p><br>
 <p><input type="text" name="answer"  id= "answer" placeholder="Answer" required="" class="form-control" required [(ngModel)]="answer"></p><br>

</form>  -->

</div>

