<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Account</title>
</head>
<body>
<p>welcome {{name}}</p>
<div class="my_account">
    <a href="{{url_for('logout')}}"> Logout</a>
</div>
</body>
</html>