<form method="post" action="{% url 'check' %}">
    {% csrf_token  %}
<input type="text" name="text">
    <input type="submit" value="submit">
    </form>



<form method="post" action="{% url 'register1' %}">
    {% csrf_token  %}
<input type="text" name="name">
    <input type="submit" value="add item">
    </form>

<p>
{% for data in items  %}
{{data}}
</p>
{% endfor %}