
.sideBar{
	min-width:210px;
	max-width:210px;
    overflow: auto;
	position: fixed;
    top: 101px;
    left: 0;
    bottom: 0;
    border-right: 1px solid #d1d1d1;
}

.sideHeading{
    padding: 28px 18px 15px;
}

.sideHeading a{
    color: #68;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 26px;
}

.navButtons{
	display: inline-block;
    min-width: 100%;
    position: relative;
}

.navButtons .navItem{
	padding: 10px 20px;
    font-size: 14px;
    vertical-align: middle;
    border-left: solid 4px transparent;
}

.navButtons .navItem a{
    color: #666;

}

.navItem.active{
	border-left: solid 4px #0980C4 !important;
	cursor:default;
	color:#0980C4 !important;
	font-weight:bold;
}

.navItem.active a{
    color:#0980C4 !important;
}

.navButtons .navItem span{
	height: 24px;
    line-height: 24px;
    vertical-align: middle;
}

.navButtons .navItem:hover{
	cursor:pointer;
	background-color:#e1e1e1;
}



