<h1>Hello from template{{number}}</h1>
<h3>{{name|lower}}</h3>

{% if today.day is  2 %}
day is {{today.day}}

{% elif today.day is 6 %}

wbdbkwcjo.

{%endif%}

<p>
   {% for key, value in dict.items %}
   {% if key == 'name' %}
    length of dict is {{length}}
    {% else %}
    key is different
{% endif %}


</p>
{% endfor %}

{{data}}

{{text}}
<form method="post" action="{% url 'login' %}">
   {% csrf_token  %}
    <input type="text" placeholder="username" name="username">
    <input type="password" placeholder="password" name="password">
    <input type="submit" value="submit">
</form>